<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plagiarism Checker</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="royal-theme">

<div class="container">

    <h1 class="title-gold">🔍 Premium Plagiarism Checker</h1>

    <p class="sub-text">Experience the next-level AI plagiarism detection</p>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">

        <label class="label-gold">Enter text</label>
        <textarea name="input_text" rows="7" placeholder="Paste your content here..."></textarea>

        <div class="divider">or</div>

        <label class="label-gold">Upload TXT / PDF</label>
        <input type="file" name="file" class="file-box">

        <button type="submit" class="gold-btn">🚀 Check Plagiarism</button>

    </form>

</div>

</body>
</html>
